---
title: "Data Showcase and Manipulation"
---

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [3]:
#| label: wind-old-dataset-preview

wind_df = pd.read_csv('../data/wind_old.csv')
solar_df = pd.read_csv('../data/solar_old.csv')

wind_df.head(5)

,id,lat,long,wind_speed,farm_type,capacity,capacity_factor,power_generation,estimated_cost
0,0,23.510410,-117.147260,6.07,offshore,16,0.169,23687.04,20800000
1,1,24.007446,-93.946777,7.43,offshore,16,0.302,42328.32,20800000
2,2,25.069138,-97.482483,8.19,offshore,16,0.375,52560.00,20800000
3,3,25.069443,-97.463135,8.19,offshore,16,0.375,52560.00,20800000
4,4,25.069763,-97.443756,8.19,offshore,16,0.376,52700.16,20800000
5,5,25.070091,-97.424377,8.19,offshore,16,0.375,52560.00,20800000
6,6,25.070404,-97.404999,8.19,offshore,16,0.375,52560.00,20800000
7,7,25.086678,-97.482849,8.18,offshore,16,0.375,52560.00,20800000
8,8,25.087006,-97.463470,8.19,offshore,16,0.376,52700.16,20800000
9,9,25.087318,-97.444092,8.19,offshore,16,0.376,52700.16,20800000

In [6]:
#| label: solar-old-dataset-preview

solar_df.head(5)

,id,lat,long,irradiance,farm_type,capacity,capacity_factor,power_generation,estimated_cost
0,0,25.896492,-97.460358,5.634079,large_community,5.000,0.235,1.028219e+04,13300000
1,1,26.032654,-97.738098,5.616413,small_utility,5.000,0.234,1.024995e+04,13300000
2,2,26.059063,-97.208252,5.746738,small_community,0.150,0.239,3.146339e+02,399000
3,3,26.078449,-98.073364,5.742196,small_utility,5.000,0.239,1.047951e+04,13300000
4,4,26.143227,-98.311340,5.817187,small_utility,5.000,0.242,1.061637e+04,13300000
5,5,26.149040,-98.075409,5.701752,large_community,5.000,0.238,1.040570e+04,13300000
6,6,26.180355,-97.367737,5.720004,medium_utility,500.000,0.238,1.043901e+06,1330000000
7,7,26.254963,-98.078491,5.730308,small_residential,0.005,0.239,1.045781e+01,13300
8,8,26.272160,-98.098694,5.734213,large_utility,2000.000,0.239,4.185975e+06,5320000000
9,9,26.272625,-98.078979,5.755140,small_community,0.150,0.240,3.150939e+02,399000